/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Mar-2017, 14:29:04
    Author     : Tomer
*/
#banner{
    text-align: center;
}

.post{
    text-align: left;
    font-family:verdana;
    color: red;
    padding: 4%;
}

img { 
    width:100%; 
    height:100%;
} 

#leftImg, #leftImg2{
    float: left;
    width: 30%; 
    height: 30%;
    padding: 3%;
}

#leftImg:hover, #leftImg2:hover, #rightImg:hover{
    transform: scale(1.6, 1.6);
    opacity: 1;
}

#rightImg{
    float: right;
    width: 30%; 
    height: 30%;
    padding: 3%; 
}
h1.center, p.center {
    font-family:verdana; 
    color: red; 
    text-align: center;
    padding-bottom: 1%;
}

body{
    background-color: whitesmoke;
    
}

h2, h3{
text-align: center;
font-size: 200%;
color: maroon;
padding: 0%
}

li{
    padding: 0.5%;
}

/* CSS for link to model.html*/
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
    width: 90%;
}

.popup {
    max-width: 75%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.49);
    border-radius: 5px;
    position: absolute;
    bottom: 5%;
    left: 10%;
    padding: 5px 20px 5px 20px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.17);
    z-index:1109;
}

.text {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    overflow:hidden;
}

#blogPost1, #blogPost2, #blogPost3, #blogPost4 {
    text-align: center;
    font-family:verdana;
    color: maroon;
    padding: 0%; 
}

#blogButtons{
    text-align: center;
    font-family: verdana;
    color: red;
    padding: 1%;
}

#video {
    text-align: center;
    
}

#facebook {
    text-align: center;
    
}
